<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Workaround Brainstormer{% endblock %}</title>

    <!-- Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landingpage.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/variables.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <!-- External Dependencies -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://kit.fontawesome.com/441def4347.js" crossorigin="anonymous"></script>
    {% block head %}{% endblock %}
</head>

<body>

    
  
    <div class="page-content">
        {% block content %}{% endblock %}
    </div>

    <!-- Additional scripts -->
    {% block scripts %}{% endblock %}

    
        {% block footer %}{% endblock %}

        <div class="footer">
            <div class="footer-container">
                <div class="footer-partners">
                    <h3>Partner</h3>
                    <div class="footer-partners-logo-container">
                        <div class="footer-partners-left-section">
                            <a href="https://www.viadee.de/" target="_blank">
                                <img class="footer-partner-logo" src="{{ url_for('static', filename='images/viadee_Logo_rot.png') }}" > </img>
                            </a>
                            <a href="https://www.sicp.de/" target="_blank">
                                <img class="footer-partner-logo" src="{{ url_for('static', filename='images/SICP_Paderborn_logo.png') }}" > </img>
                            </a>
                        </div>
                        <a target="_blank" href="https://www.ercis.org/">
                            <img class="footer-partner-ecis-logo" src="{{ url_for('static', filename='images/ERCIS_logo_ohne_punkt_ohne_text.png') }}" > </img>
                        </a>

                    </div>
                </div>


                <div class="footer-legal">
                    <h3>Rechtliches</h3>
                    <a href="{{ url_for('info.impressum') }}" class="footer-link" >
                        <i class=" " aria-hidden="true"></i> Impressum
                    </a>
                
                    <a href="{{ url_for('info.datenschutz') }}" class="footer-link">
                        <i class="" aria-hidden="true"></i> Datenschutz
                    </a>

                    <a href="{{ url_for('info.nutzungsbedingungen') }}" class="footer-link">
                        <i class="" aria-hidden="true"></i> Nutzungsbedingungen
                    </a>
                </div>
                <div class="footer-links">
                    <h3>Links</h3>
                    <a href="https://github.com/viadee/workaround-brainstormer" target="_blank" class="footer-link">
                        <img class="footer-link-github" src="{{ url_for('static', filename='images/github-mark.png') }}"></img>
                    </a>
                    <a target="_blank" href="https://qdrant.tech/">
                        <img style="width:150px" src="{{ url_for('static', filename='images/qdrant-logo.svg') }}" > </img>
                    </a>
                </div>
            </div>
        </div>
  

</body>

</html>