<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Node Map Web App{% endblock %}</title>

    <!-- Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landingpage.css') }}">

    <!-- External Dependencies -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://kit.fontawesome.com/441def4347.js" crossorigin="anonymous"></script>
    {% block head %}{% endblock %}
</head>

<body>
  
    <div class="page-content">
        {% block content %}{% endblock %}
    </div>

    <!-- Additional scripts -->
    {% block scripts %}{% endblock %}

    
        {% block footer %}{% endblock %}

        <div class="footer">
            (viadee logo)
            <a href="{{ url_for('info.impressum') }}" class="footer-link" style="">
                <i class=" " aria-hidden="true"></i> Impressum
            </a>
        
            <a href="{{ url_for('info.datenschutz') }}" class="footer-link" style="">
                <i class="" aria-hidden="true"></i> Datenschutz
            </a>
        </div>
  

</body>

</html>