<!-- templates/base.html -->
{% extends "landingpage/base.html" %}

{% block title %}Node Map Web App{% endblock %}

{% block content %}

<div class="top-buttons">
    <a href="{{ url_for('main.index') }}" class="back-button" style="">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Zum Index
    </a>

</div>


<div class="datenschutz">
    <h1 class="landingpage-headline">Datenschutzerklärung</h1>
        
    <h2>1. Einleitung</h2>
    <p>Der Schutz Ihrer personenbezogenen Daten ist uns sehr wichtig. Diese Datenschutzerklärung informiert Sie darüber, welche Daten während Ihres Besuchs auf unserer Webseite erfasst werden und wie diese verarbeitet werden. Außerdem erfahren Sie, welche Rechte Sie in Bezug auf Ihre Daten haben.</p>

    <h2>2. Speicherung von Daten</h2>
    <p>Wir möchten ausdrücklich darauf hinweisen, dass wir keinerlei personenbezogene Daten speichern. Die Eingabe von personenbezogenen Daten wie Name, Adresse, E-Mail-Adresse oder Telefonnummer ist auf unserer Webseite ausdrücklich untersagt.</p>

    <h2>3. Keine Verarbeitung personenbezogener Daten</h2>
    <p>Da wir keine personenbezogenen Daten erfassen oder speichern, findet auch keine Verarbeitung dieser Daten im Sinne der Datenschutz-Grundverordnung (DSGVO) statt. Es werden keinerlei Maßnahmen zur Datensicherheit, -verarbeitung oder -übertragung durchgeführt, die sich auf personenbezogene Daten beziehen.</p>

    <h2>4. Erfassung technischer Daten</h2>
    <p>Bei der Nutzung unserer Webseite können technische Daten wie IP-Adresse, Browsertyp und Zugriffszeit erfasst werden. Diese Daten werden ausschließlich zu technischen Zwecken verwendet, um die Funktionsfähigkeit und den sicheren Betrieb der Webseite zu gewährleisten. Dabei werden diese Informationen anonymisiert erhoben, wodurch eine Identifizierung einzelner Nutzer nicht möglich ist.</p>

    <h2>5. Rechte der Nutzer</h2>
    <p>Da auf unserer Webseite keine personenbezogenen Daten gespeichert oder verarbeitet werden, besteht auch kein konkreter Anspruch auf Auskunft, Berichtigung oder Löschung von Daten. Sollte es dennoch Fragen zur allgemeinen Datenverarbeitung oder zur Datenschutzerklärung geben, können Sie sich jederzeit an uns wenden.</p>

    <h2>6. Änderungen der Datenschutzerklärung</h2>
    <p>Wir behalten uns das Recht vor, diese Datenschutzerklärung jederzeit anzupassen. Die jeweils aktuelle Version wird auf unserer Webseite veröffentlicht. Bitte überprüfen Sie regelmäßig diese Erklärung, um über mögliche Änderungen informiert zu bleiben.</p>

    <h2>7. Kontakt</h2>
    <p>Für Fragen zur Datenschutzerklärung oder zu Datenschutzthemen können Sie uns jederzeit kontaktieren. Die Kontaktdaten finden Sie auf unserer Webseite.</p>

    <p>Durch die Nutzung unserer Webseite stimmen Sie den hier aufgeführten Bedingungen zu. Wir danken Ihnen für Ihr Vertrauen und versichern Ihnen, dass wir Ihre Privatsphäre schützen.</p>
</div>

{% endblock %}