

{% extends "landingpage/base.html" %}

{% block title %}Node Map Web App{% endblock %}

{% block content %}


<div class="top-buttons">
    <a href="{{ url_for('main.brainstormer') }}" class="back-button" style="">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Zum Brainstormer
    </a>

</div>

<div class="landingpage-content">
    <div>
        <h3 id="section1" class="headline-with-sub">1. Hintergrund</h3>
        <h6 class="sub-headline">Brainstorming the Invisible: Empowering Process Owners to Uncover Latent Process Workarounds</h6>
        <a class="" target="_blank" href="https://blog.viadee.de/changeworkaround-projektstart">
            "Dass Workarounds in Unternehmen stattfinden, steht fest."
        </a>
        
        
        <p>
            Doch wie kann der Umgang mit diesen sinnvoll gestaltet werden?</br>
            In der Hightech-Industrie drücken sich Veränderungen häufig durch neue Kundenbedürfnisse oder eine veränderte Nachfrage nach Produkten und Dienstleistungen aus.
            Dies erfordert eine schnelle Anpassungsfähigkeit, Wertschöpfungsprozesse für neue Markt- und Kundenanforderungen zu optimieren. Zielgerichtete Abweichungen von 
            Prozessen <a target="_blank" href="https://www.researchgate.net/publication/262563960_Theory_of_Workarounds"> (Workarounds)</a> haben sich hierfür als effizientes Mittel etabliert, 
            die Lücke zwischen unflexiblen Prozessen und der operativen Realität zu schließen.
        </p>
        
        <p>
            Um die Wandlungsfähigkeit von Unternehmen durch Workarounds zu steigern, wurde das Forschungsprojekt <a target="_blank" href="https://www.changeworkaround.de/">ChangeWorkAROUND</a> im Rahmen der vom BMBF geförderten
            Fördermaßnahme "Im Wandel: Industrie 4.0 - Wandlungsfähigkeit von Unternehmen in der Wertschöpfung von morgen" in Kooperation mit der Universität Paderborn und dem Software
            Innovation Campus Paderborn (SICP) sowie einer Projektgruppe, bestehend aus drei Beratungshäusern sowie drei mittelständischen Unternehmen gestartet.

            Ziel des Projektes ist die Entwicklung neuer Methoden und Werkzeuge zur Erkennung, Bewertung und Nutzung von Workarounds im Rahmen geordneter Veränderungsprozessen zu einem
            nachhaltigen Wandel. Dieser Wandel drückt sich durch die Etablierung von flexiblen und resilenten Strukturen aus, welche eine kontinuierliche Adaptionsfähigkeit 
            und somit die Wettbewerbsfähigkeit in einer sich stetig wandelnden Umgebung sicherstellen.
        </p>
        <p>
            
        </p>
        <p>
            Obwohl aus einem zielgerichteten Umgang mit Workarounds Wert für Unternehmen und Kunden geschaffen werden kann, bleiben diese häufig verborgen bzw. latent.
            Denn ohne einer strukturierten Identifizierung von Workarounds können diese nicht bewertet und für Innovationen genutzt werden.
            Diese Problemstellung wird durch die Forschungsarbeit der viadee Unternehmensberatungs AG, aus der der Workaround Brainstormer entwickelt wurde, addressiert.
        </p>
        <p>
            Was unterscheidet den Workaround Brainstormer von herkömmlichen quantitativen Methoden zur Identifizierung von Workarounds?</br>
            ...
        </p>

        <h3 id="section2" class="headline-with-sub">2. Anleitung zur Identifizierung von Workarounds</h3>
        
    </div>

</div>

{% endblock %}


{% block footer %}



{% endblock %}