

{% extends "landingpage/base.html" %}

{% block title %}Node Map Web App{% endblock %}

{% block content %}


<div class="top-buttons">
    <a href="{{ url_for('main.brainstormer') }}" class="back-button" style="">
        <i class="fa fa-arrow-left" aria-hidden="true"></i> Zum Brainstormer
    </a>

</div>


<div class="landingpage-content">
    <h1>Workaround Brainstormer</h1>
    
        <h3>1. Hintergrund und Zweck des Tools</h3>
    
        <a class="" href="https://blog.viadee.de/changeworkaround-projektstart">
            "Dass Workarounds in Unternehmen stattfinden, steht fest."
        </a>
        Doch wie kann der Umgang mit diesen sinnvoll gestaltet werden?</br></br>
        Im ersten Schritt empfiehlt sich eine geordnete Identifizierung - interaktiv oder auf Basis der verfügbaren Datenquellen. </br></br>
        
        Jedoch treten bei der Anwendung herkömmlicher Methoden zur Identifizierung von Workarounds mehrere Herausforderungen auf: </br>
        <ul>
            <li>
                Beispielsweise hängen quantitative Ansätze von expliziten Datenquellen wie Prozesslogs oder Audits ab. Da Workarounds allerdings außerhalb der formellen Systeme
                stattfinden können oder informelle Kommunikationswege nutzen, sind diese in den Daten nicht sichtbar. </br>
                So könnte ein Mitarbeiter beispielsweise persönliche Messaging-Apps
                nutzen, um Aufgaben zu koordinieren, und dabei die offiziellen Kanäle, die überwacht und protokolliert werden, umgehen. </br>
                </li>
            <li>
                Mitarbeiterbefragungen sind zwar wertvoll, liefern aber nicht immer genaue Informationen, da nicht alle bereit sind, 
                nicht standardgemäße Verhaltensweisen preiszugeben, Angst vor Abmahnungen haben, sich nicht erinnern können oder sich einfach nicht bewusst sind, 
                dass ihre Handlungen einen Workaround darstellen. </br></br>
                </li>
        </ul>
        Diese Problemstellungen addressiert der Workaround Brainstormer mit seinem auf generativer künstlicher Intelligenz basierenden Ansatz, 
        Workarounds anhand einer textuellen Prozessbeschreibung oder anhand eines bpmn Diagramms zu generieren. </br>
        Damit können Unternehmen Fortschritte aus der KI nutzen, um mögliche Workarounds aufzudecken und Rückschlüsse für Prozessverbesserungen 
        und Innovationen zu ziehen.
        
        <h3>2. Einsatzbereich und Anleitung</h3>
        
        <p>
            In diesem Abschnitt wird beschrieben, in welchen Szenarien der Workaround Brainstormer in welcher Art eingesetzt werden kann. </br>
            Die folgende Grafik veranschaulich den Einsatz des Tools von einem Process Owner, welcher Ideen für Workarounds generiert und anschließend mit
            Kolleginnen und Kollegen diskutiert.
        </p>
        <div class="tool-usage-illustration-image-container">
            <div style="max-width: 800px;">
                <img class="tool-usage-illustration-image" src="{{ url_for('static', filename='images/tool_usage_illustration.png') }}" > </img>
                <p>Schematische Darstellung eines Prozessverantwortlichen, der ein Brainstorming zu potenziellen
                    Workarounds durchführt und anschließend mit den Mitarbeitern kollaboriert, um diese Ideen zu validieren 
                    - ultimativ potenziell zu einer Prozessinnovation führend</p>
            </div>
        </div>

        <p>
            Im ersten Schritt müssen Sie den zu untersuchenden Prozess beschreiben bzw. hochladen. 
            Hierzu klicken Sie oben rechts in das Textfeld unter "Process Description" und geben eine textuelle Prozessbeschreibung ein oder sie klicken auf
            "click to browser" um ein bpmn Diagramm von Ihren Gerät hochzuladen.

            Als nächsten
            
        </p>


</div>

{% endblock %}


{% block footer %}



{% endblock %}