

{% extends "landingpage/base.html" %}

{% block title %}Node Map Web App{% endblock %}

{% block content %}


<div class="landingpage-container">
<div class="landingpage-content">
    <div class="landingpage-table-of-contents-container">
        <div class="landingpage-table-of-contents">
        <h3>Inhaltsverzeichnis</h3>
        <ul>
            <li>
                <a href="#intro"> Einführung </a>
            </li>
            <li>
                <a href="#Pizzeria Beispiel">Beispiel Zusammenfassung</a>
            </li>
            <li>
                <div class="toc-header">  Forschungskontext</div>
                <ul class="toc-ul-nested">
                    <li>
                        <a href="#Workarounds als Mittel für Wettbewerbsfähigkeit">Workarounds als Mittel für Wettbewerbsfähigkeit</a>
                    </li>
                    <li>
                        <a href="#Wie Workarounds finden?">Wie Workarounds finden?</a>
                    </li>
                    <li>
                        <a href="#Lösungsansatz: Latente Workarounds und erste Erfahrungen">Lösungsansatz: Latente Workarounds und erste Erfahrungen</a>
                    </li>
                </ul>
            </li>
            <li>
                <div class="toc-header">Beispiel in einer Pizzeria</div>
                <ul class="toc-ul-nested">
                    <li>
                        <a href="#Ausgangssituation">Ausgangssituation</a>
                    </li>
                    <li>
                        <a href="#In drei Schritten zu Möglichkeiten der Prozessverbesserung">In drei Schritten zu Möglichkeiten der Prozessverbesserung</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#Ausblick – Weiterentwicklung des Brainstormers">
                    Ausblick - Weiterentwicklung des Brainstormers
                </a>
            </li>
            <li>
                <div class="toc-header">
                    Benutzerhandbuch
                </div>
                <ul class="toc-ul-nested">
                    <li>
                        <a href="#Primäre Komponenten der Benutzeroberfläche">Primäre Komponenten der Benutzeroberfläche</a>
                    </li>
                    <li>
                        <div class="toc-header">Workarounds generieren</div>

                        <ul class="toc-ul-nested">
                            <li>
                                <a href="#Initiale Workarounds generieren">Initiale Workarounds generieren</a>
                            </li>
                            <li>
                                <a href="#Kind-Workarounds generieren">Kind-Workarounds generieren</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#Workarounds entfernen">Workarounds entfernen</a>
                    </li>
                    <li>
                        <a href="#Zusätzlichen Kontext hinzufügen">Zusätzlichen Kontext hinzufügen</a>
                    </li>
                    <li>
                        <a href="#Few-shot Examples bearbeiten">Few-shot Examples bearbeiten</a>
                    </li>
                    <li>
                        <a href="#Eingebettete Workaround-Beispiele hinzufügen">Eingebettete Workaround-Beispiele hinzufügen</a>
                    </li>
                </ul>
                
            </li>
            <li>
                <a href="#FAQ">FAQ</a>
            </li>
        </ul>
        </div>
        <a class="cta-button-small" target="_blank" href="/brainstormer">Jetzt Workarounds finden</a>
    </div>
    <div  id="landingpage-table-of-contents-container">
        <section class="intro">
            <h1 id="intro">Workaround Brainstormer</h1>
            <p><a href="https://blog.viadee.de/changeworkaround-projektstart" target="_blank">"Dass Workarounds in Unternehmen stattfinden, steht fest."</a> 
                Doch wie kann der Umgang mit diesen sinnvoll gestaltet werden? Im ersten Schritt empfiehlt sich eine geordnete Identifizierung. </br>
                Um <span class="font-weight-strong">„latente“ Workarounds </span>, also dem Process Owner oder anderen Stakeholdern unbekannte, zielgerichtete Abweichungen eines Prozesses, aufzudecken, können LLMs helfen. 
                </br>
                Der Workaround Brainstormer ist genau für solche Situationen entwickelt worden. Um das Tool auszuprobieren, können Sie auf den folgenden Button klicken. 
                Zur zielgerichteten Nutzung des Tools empfehlen wir einen Blick auf den im Folgenden erläuterten Hintergrund und auf die Anleitung.</p>
            <a class="cta-button" target="_blank" href="/brainstormer">Jetzt Workarounds finden</a>
        </section>
        <section class="developer-example">
            <h2 id="Pizzeria Beispiel">Pizzeria Beispiel</h2>
            <p>Stellen Sie sich vor, Sie sind der Inhaber einer Pizzeria und bemerken, dass Ihre Kundenzufriedenheit und Gewinne sinken. Mit dem Workaround Brainstormer können Sie schnell und einfach kreative Lösungen generieren, um Ihre Prozesse zu verbessern. Geben Sie einfach Ihre Prozessbeschreibung ein, und das Tool liefert Ihnen innerhalb weniger Sekunden praktische Workarounds, die Ihnen helfen, die Herausforderungen in Ihrem Betrieb zu identifizieren und zu lösen. So können Sie gezielt Maßnahmen ergreifen, um die Zufriedenheit Ihrer Kunden zu steigern und Ihre Gewinne zu erhöhen.</p>
        </section>
        <section class="research-context">
            <h2 id="Forschungskontext">Forschungskontext</h2>
            <h3 id="Workarounds als Mittel für Wettbewerbsfähigkeit">Workarounds als Mittel für Wettbewerbsfähigkeit</h3>
            <p>Der Workaround Brainstormer ist ein Zwischenergebnis des Projektes Change.WorkAROUND, einem vom Bundesministerium für Bildung und Forschung (BMBF) geförderten Projekt. Das Projekt adressiert den wachsenden Bedarf nach Wandlungsfähigkeit in der Industrie, welche mit kürzeren Innovationszyklen und disruptiven globalen Ereignissen wie der COVID-19 Pandemie und der Energiewende konfrontiert wird. Oft finden operative Mitarbeitende kreative Lösungen, die Grundlage von Prozessinnovationen werden können, wenn der Soll-Prozess (rechtzeitig) davon erfährt.</p>
            <p>Das Projekt zielt auf neue Methoden, Werkzeuge und Organisationskonzepte, um diese Workarounds zu erkennen, zu bewerten und in Prozessinnovationen umzusetzen.</p>
            <h3 id="Wie Workarounds finden?">Wie Workarounds finden?</h3>
            <p>Trotz ihres potenziellen Werts bleiben Workarounds häufig in den Arbeitsabläufen des Unternehmens verborgen oder unentdeckt. In der Regel sind sie undokumentiert, informell und entgehen der Aufmerksamkeit der Prozessverantwortlichen.</p>
            <p>Mit geeigneter Datengrundlage können solche Prozessveränderungen per Process Mining gefunden werden – oft gibt es eine solche Grundlage aber nicht, da Workarounds außerhalb von IT-Systemen auftreten oder informelle Kommunikationskanäle nutzen. Die Identifizierung dieser latenten Umgehungslösungen stellt deshalb eine große Herausforderung dar. So kann ein Mitarbeiter beispielsweise persönliche Messaging-Apps verwenden. Mitarbeiterbefragungen sind zwar wertvoll, liefern aber ein unvollständiges Bild, da Mitarbeitende oft nicht bereit sind, ihr nicht standardgemäßes Verhalten offenzulegen (sei es aus Angst, Zeitmangel oder fehlender Initiative).</p>
            <p>Können moderne LLMs vielleicht helfen, für einen Geschäftsprozess gezielt Hypothesen zu bilden – abzuschätzen, welche Workarounds es vermutlich geben wird?</p>
            <h3 id="Lösungsansatz: Latente Workarounds und erste Erfahrungen">Lösungsansatz: Latente Workarounds und erste Erfahrungen</h3>
            <p>Erstaunlich oft gelingt das. Der Workaround Brainstormer ist ein Werkzeug, das diesen kreativen Prozess leicht und interaktiv macht.</p>
            <p>Anhand einer textuellen Prozessbeschreibung oder eines BPMN-Diagramms bietet er die Möglichkeit, individuelle und domänenspezifische Workarounds mit nur wenigen Mausklicks zu generieren. Der Ansatz ist hierbei wie folgt: Die Prozessbeschreibung und (optional) weiterer Kontext werden in einen speziellen Prompt eingefügt, welcher das LLM instruiert, systematisch Workarounds zu identifizieren. Der Prompt enthält zusätzlich mehrere Workaround-Beispiele (few-shot-examples), um die Ergebnisse des LLM zu verbessern. Diese Beispiele können mithilfe eines RAG-Systems, welches auf eine Wissensdatenbank mit knapp 83 von Unternehmen validierten Workarounds zugreift, erweitert werden.</p>
            <p>In der aktuellen Version des Werkzeugs werden Ihre Dateien nicht gespeichert, d.h. Ihre Prozessbeschreibung sowie die generierten Workarounds durchlaufen den Zyklus von Ihrem Webbrowser bis zu dem von uns gehosteten LLM in Azure.</p>
            <p>Erste Erfahrungen und Experimente, in denen die Qualität und allgemeine Nutzbarkeit der Workarounds untersucht wurde, zeigen positive, aber vorläufige Ergebnisse. So wurden in einem Experiment, in dem 62 Personen (Anwender aus Industrieunternehmen, Mitglieder des Forschungskonsortiums, Mitarbeiter eines Beratungsunternehmens sowie Studenten) insgesamt 83 Workaround-Storys vorgestellt wurden, herausgefunden, dass die mit KI generierten Workarounds auf einem ähnlichen Qualitätsniveau wie die von informierten Personen sind. Weiter zeigen die Erfahrungen, dass die mit dem Brainstormer identifizierten Workarounds in wenigen Fällen tatsächlich in Unternehmen existieren und somit verwertet werden können. Genau dies ist das optimale Ergebnis bei der Nutzung des Tools – latente Workarounds identifizieren, um sie anschließend bewerten und ultimativ Prozessinnovationen erreichen zu können.</p>
            <p>Folgend sollte der Workaround Brainstormer nicht als isoliertes Tool, sondern als ein Kreativitätswerkzeug betrachtet werden, welches in Verbesserungsinitiativen wertvolle Impulse gibt, die anschließend in Expertengruppen bewertet und diskutiert werden.</p>
        </section>
        <section class="example-usage">
            <h2 id="Beispielhafte Nutzung des Workaround Brainstormers zur Verbesserung der Kundenzufriedenheit in einer Pizzeria">Beispielhafte Nutzung des Workaround Brainstormers zur Verbesserung der Kundenzufriedenheit in einer Pizzeria</h2>
            <h3 id="Ausgangssituation">Ausgangssituation</h3>
            <p>Stellen Sie sich folgendes Beispiel vor: Sie sind der Inhaber einer Pizzeria und haben in den letzten Wochen weniger Gewinn erzielt als im letzten Quartal. Da Ihnen aufgefallen ist, dass sich Ihre Onlinebewertungen verschlechtert haben, suchen Sie nach Möglichkeiten, die Kundenzufriedenheit zu verbessern.</p>
            <p>Um die kostbare Zeit Ihres Teams sinnvoll zu nutzen, möchten Sie im Voraus kreativ werden und Verbesserungsvorschläge sammeln. Mit dem Workaround Brainstormer können Sie mit einfach erste Impulse erhalten, die Sie in die Diskussion mit Ihrem Team einbringen können.</p>
            <p>Zuerst erklären wir dem Brainstormer unsere Situation: 
                <span style="font-style:italic">
                „In meiner Pizzeria beginnt der Prozess mit dem Eingang einer Bestellung. Sobald die Bestellung bestätigt wurde, beginnen wir mit der Zubereitung der Pizza und liefern sie anschließend schnellstmöglich aus. Sobald die Pizza beim Kunden angekommen ist, kann dieser sie genießen. Falls der Kunde diese allerdings nach 40 Minuten noch nicht erhalten hat, erhalten wir häufig Beschwerden oder Nachfragen über das Telefon. Wir versuchen dann das Problem zu beheben und noch schnell zu liefern. Wurde die Bestellung auch nach 80 Minuten noch nicht geliefert, kann der Kunde sein Geld zurückbekommen.“
                </span>
            </p>
            <h3 id="In drei Schritten zu Möglichkeiten der Prozessverbesserung">In drei Schritten zu Möglichkeiten der Prozessverbesserung</h3>
            <p>Und erhalten fünf Vorschläge für Workarounds, die uns als Graph sowie als Liste präsentiert werden:</p>
            <div style="display:flex">
                <ul>
                    <li>Als Pizzabote, wenn ich feststelle, dass ich mehrere Lieferungen gleichzeitig habe, plane ich meine Route effizienter und priorisiere die Kunden, um die Lieferzeiten insgesamt zu verkürzen.</li>
                    <li>Als Küchenchef, wenn ich merke, dass die Pizza-Zubereitung aufgrund fehlender Zutaten verzögert wird, überprüfe ich schnell die Lagerbestände und passe das Rezept leicht an, um die Zubereitungszeit zu verkürzen und trotzdem eine schmackhafte Pizza zu liefern.</li>
                    <li>Als Mitarbeiter im Kundenservice, wenn Kunden nach 40 Minuten noch auf ihre Bestellung warten und anrufen, entschuldige ich mich herzlich und biete einen Preisnachlass auf die nächste Bestellung an, um die Zufriedenheit des Kunden zu erhalten.</li>
                    <li>Als Manager, wenn ich feststelle, dass es regelmäßige Engpässe bei der Auslieferung gibt, analysiere ich die Häufigkeit und die Zeitpunkte dieser Engpässe und stelle zusätzliche Lieferfahrer bereit während der Stoßzeiten, um die Wartezeit zu verkürzen.</li>
                    <li>Als Küchentechniker, wenn ich ein Problem mit dem Pizzaofen bemerke, leite ich sofort eine schnelle Wartung ein und informiere das Team, damit sie vorübergehend alternative Zubereitungsmodi nutzen, um keine Zeit zu verlieren.</li>
                </ul>
                <img style="height: 300px; margin-left: 40px;" src="{{ url_for('static', filename='images/brainstormer-example-one.png') }}"/>

            </div>
            <p>Als nächstes bewerten wir die Workarounds. Kommen wir dafür nochmals auf unsere Ausgangssituation zurück – als Inhaber haben wir festgestellt, dass unser Gewinn als auch die Kundenzufriedenheit gesunken ist. Bei zehn Mitarbeitern können wir nicht alles im Blick haben. Die vorgeschlagenen Workarounds können helfen, die Herausforderungen im Prozess aus dem Blickwinkel der Prozessteilnehmer zu verstehen. Der Küchenchef passt in Notsituationen das Rezept an – könnte dies Aufschluss über die gesunkene Kundenzufriedenheit aufgrund eines schlechteren oder ungewohnten Geschmacks geben?</p>
            <div style="display:flex">
                <img style="height: 300px; margin-right: 40px;" src="{{ url_for('static', filename='images/brainstormer-example-two.png') }}"/>
                <p>Die dritte Workaround-Story beschreibt das Verhalten eines Mitarbeiters im Kundenservice, welcher einen Preisnachlass auf die nächste Bestellung gibt. 
                    Das könnte ein Auslöser für den gesunkenen Gewinn sein. Ein mögliches Szenario, allerdings haben wir eine interne Vereinbarung, keinen Preisnachlass zu geben. 
                    Jetzt können wir auf den Knoten im Graph klicken, um ähnliche Workarounds zu generieren:
                    Aha! Ich habe mich schon gefragt, weshalb der Lagerbestand des Eisbergsalats in den letzten Monaten auffällig gesunken ist.
                </p>
                

            </div>
            <p>Im dritten Schritt können Sie die Vorschläge des Brainstormers mit Ihrer langen Erfahrung als Pizzeria-Inhaber kombinieren und evaluieren und so eine aufschlussreiche Diskussion mit Ihrem Team anregen.</p>
        </section>
        <section class="outlook">
            <h2 id="Ausblick – Weiterentwicklung des Brainstormers">Ausblick – Weiterentwicklung des Brainstormers</h2>
            <p>Der Brainstormer ist ein Ergebnis der in den letzten drei Jahren im Rahmen des Projektes Change.WorkAROUND geleisteten Forschungsarbeit. Da allerdings die Forschung noch nicht abgeschlossen ist und bei der Weiterentwicklung des Brainstormers noch viel Gestaltungsspielraum besteht, möchten wir für die Nutzung des Tools einschließlich für das Geben von Feedback appellieren. Mit Ihrem Feedback (Feedbacklink) können Sie uns helfen, das Werkzeug weiter zu verfeinern und im Idealfall mehr Prozessinnovationen zu schaffen.</p>
            <p>Ein zentraler Baustein des Werkzeugs ist unsere Wissensdatenbank von in Geschäftsprozessen beobachteten Workarounds und die Erkenntnis, dass ähnliche Workarounds unternehmensübergreifend immer wieder auftauchen. Diese Sammlung von Workarounds darf daher gern wachsen. Wir freuen uns über Ihre Workarounds – gern als Beitrag im GitHub (Link) oder sprechen Sie uns an: Frank.Koehne@viadee.de / <a href="https://www.linkedin.com/in/frank-köhne-9b586395">LinkedIn</a>.</p>
        </section>
        <section class="user-guide">
            <h2 id="Benutzerhandbuch">Benutzerhandbuch</h2>
            <p>Folgendes Handbuch beschreibt die Funktionalitäten des Brainstormers zur Generierung und Löschung von Workarounds sowie zur Anpassung des dem LLM übergebenden Prompts.</p>
            <h3 id="Primäre Komponenten der Benutzeroberfläche">Primäre Komponenten der Benutzeroberfläche</h3>
            <p>Die Workarounds werden grundsätzlich mithilfe eines gerichteten Graphs zentral auf der Benutzeroberfläche visualisiert. Dieser Graph dient als zentrale Erkundungsschnittstelle der Workarounds und kann während der Nutzung erweitert werden.</p>
            <p>Das Prozesseingabefeld, oben rechts dargestellt, verwaltet die textuelle sowie visuelle Prozessbeschreibung, wobei letzteres mit einem Klick auf „click to browse“ als auch mit dem Ziehen und Ablegen des Bildes hochgeladen werden kann.</p>
            <p>Die Workaround-Liste stellt die dritte Komponente unten rechts auf der Oberfläche dar. Hier werden die generierten Workarounds geschachtelt dargestellt. Rechts neben der Überschrift befindet sich außerdem ein Button für das Exportieren der Workarounds.</p>
            <h3>Workarounds generieren</h3>
            <h4 id="Initiale Workarounds generieren">Initiale Workarounds generieren</h4>
            <p>Nachdem Sie Ihre Prozessbeschreibung oben rechts textuell eingegeben oder als BPMN-Diagramm hochgeladen haben, können Sie mit einem Klick auf den grünen Button „Generate Workarounds“ die initialen fünf Workarounds generieren.</p>
            <h4 id="Kind-Workarounds generieren">Kind-Workarounds generieren</h4>
            <p>Nachdem die ersten Workarounds generiert wurden, können mit einem Linksklick fünf weitere Kind-Workarounds erzeugt werden. Mittels eines zweiten Prompts werden hierbei ähnliche Workarounds erzeugt, welche dieselbe Praktikabilität des Vaters beibehalten, ähnliche Problemtypen adressieren und ähnliche Vorteile erzielen, allerdings Variationen in die betrachteten Rollen sowie in die verwendeten Ressourcen und Vorgehensweisen bringen.</p>
            <h3 id="Workarounds entfernen">Workarounds entfernen</h3>
            <p>Mit einem Rechtsklick auf einen Knoten im Graph wird das Kontextmenü geöffnet – hier können Knoten und Unterknoten entfernt werden.</p>
            <h3 id="Zusätzlichen Kontext hinzufügen">Zusätzlichen Kontext hinzufügen</h3>
            <p>Die Prompts können neben der Prozessbeschreibung mit zusätzlichen Informationen angereichert werden, welche für die Workaround-Generierung relevant sein könnte. Dies kann zusätzliche Informationen über das Unternehmen, die im Prozess involvierten Rollen, Umstände oder bestimmte, für den Nutzer besonders interessante Themen sein.</p>
            <p>Der Button oben rechts neben der Überschrift „Process Description“ zeigt hierfür bei einem Rechtsklick ein zusätzliches Eingabefeld „Additional Context“ an, in dem die Informationen eingegeben werden können.</p>
            <h3 id="Few-shot Examples bearbeiten">Few-shot Examples bearbeiten</h3>
            <p>Unter dem im vorherigen Punkt beschriebenen Eingabefeld befindet sich ein Button „Edit Few Shot Examples“. In diesem Dialog können die dem Prompt übergebenden Beispiele bearbeitet, entfernt und neue hinzugefügt werden.</p>
            <h3 id="Eingebettete Workaround-Beispiele hinzufügen">Eingebettete Workaround-Beispiele hinzufügen</h3>
            <p>Der Brainstormer bietet die Möglichkeit, basierend auf der Prozessbeschreibung, den Prompt um weitere Workaround-Beispiele zu ergänzen. Mit einem Klick auf den Button „Retrieve similar Few Shot Examples“ werden aus in einer Vektordatenbank eingebetteten Workarounds ähnliche abgerufen und dem Prompt beigefügt.</p>
        </section>
        <section class="faq">
            <h2 id="FAQ">FAQ</h2>
            <h3 id="Was genau ist ein Workaround?">Was genau ist ein Workaround?</h3>
            <p>Ein Workaround ist eine zielgerichtete Anpassung, Improvisation oder sonstige Änderung eines oder mehrerer Aspekte eines bestehenden Arbeitssystems, um Hindernisse, Ausnahmen, Anomalien, Pannen, etablierte Praktiken, Managementerwartungen oder strukturelle Einschränkungen zu überwinden, zu umgehen oder zu minimieren, die das Arbeitssystem oder seine Teilnehmer daran hindern, ein gewünschtes Maß an Effizienz, Effektivität oder andere organisatorische oder persönliche Ziele zu erreichen.</p>
            <h3 id="Was sind Workaround-Storys?">Was sind Workaround-Storys?</h3>
            <p>Workaround-Storys fassen die vier Schlüsselelemente Actor and Context, Challenge or Misfit, Adaptive Action sowie Intended Outcome in einer einzigen, kohärenten Aussage zusammen und vermitteln gleichzeitig ausreichend Informationen für Analysezwecke. Dies ermöglicht den effizienten Austausch von Workarounds zwischen Mensch und Maschine (LLMs).</p>
        </section>
        </div>
    </div>
</div>
</div>


<script>
    
    document.addEventListener("DOMContentLoaded", () => {
        var els = document.querySelectorAll('.toc-header')

        els.forEach((el) => {
            el.addEventListener('click', changeHandleVis)
        })

        function changeHandleVis(e){
            var clas = e.target.nextElementSibling.getAttribute('class')
            if(clas == 'toc-ul-nested'){
                e.target.nextElementSibling.setAttribute('class', '')
            }else{
                e.target.nextElementSibling.setAttribute('class', 'toc-ul-nested')
            }
        }


        document.querySelectorAll('.landingpage-table-of-contents a').forEach(link => {
            link.addEventListener('click', (event) => {
                event.preventDefault();
                const targetId = link.getAttribute('href').substring(1);
                const targetElement = document.getElementById(targetId);
                console.log("target", targetElement)
                if (targetElement) {
                    // Adjust the scroll position to add 100px distance from the top
                    window.scrollBy(0, targetElement.getBoundingClientRect().top - 25)
                }
            });
        });
    })

    document.addEventListener("scroll", () => {
        const sections = document.querySelectorAll("h1, h2, h3, h4");
        const links = document.querySelectorAll(".landingpage-table-of-contents a");
        let smallestTop = Infinity;
        let selectedSection = null;

        sections.forEach(section => {
            const rect = section.getBoundingClientRect();
            const isVisible = rect.top >= 0 && rect.bottom <= window.innerHeight;
            
            if (isVisible && rect.top < smallestTop) {
                smallestTop = rect.top;
                selectedSection = section;
            }
        });

        links.forEach(link => {
            link.classList.remove("toc-active");
        });

        if (selectedSection) {
            const id = selectedSection.id;
            const link = document.querySelector(`.landingpage-table-of-contents a[href="#${id}"]`);

            if (link) {
                link.classList.add("toc-active");
            }else{
                const link = document.querySelector(`.landingpage-table-of-contents div[href="#${id}"]`);
            
            }
        }
    

    });




</script>

{% endblock %}


{% block footer %}



{% endblock %}