<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Node Map Web App{% endblock %}</title>

    <!-- Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <!-- External Dependencies -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://kit.fontawesome.com/441def4347.js" crossorigin="anonymous"></script>

    <!-- Additional head content -->
    <script type="text/javascript">
        // This variable is now available to your JS code.
        var defaultFewShotExamples = {{ default_few_shot_examples|tojson }};
    </script>
    {% block head %}{% endblock %}
</head>
<body>
    <div class="brainstormer-content">
    {% if 'username' in session %}
        <!-- Navigation buttons (formerly in header.html) -->
        <div class="top-buttons">
            <a href="{{ url_for('auth.logout') }}" class="logout-button">
                <i class="fas fa-sign-out-alt"></i> Logout
            </a>
            <a href="https://forms.office.com/e/nqdmjHnUVd" class="feedback-button" target="_blank">
                <i class="fas fa-comment-dots feedback-icon"></i> Give Feedback
            </a>
            <a href="{{ url_for('main.index') }}" class="">
                <i class="fas"></i> Documentation
            </a>
            {% if 'is_admin' in session and session['is_admin'] %}
                    <a href="{{ url_for('main.admin') }}" class="admin-button">
                        Admin Console
                    </a>
            {% endif %}

        </div>
    {% endif %}

    {% block content %}{% endblock %}
    </div>
    <!-- Load dependencies first -->
    <script src="{{ url_for('static', filename='js/graphManager.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fileUpload.js') }}"></script>
    <script src="{{ url_for('static', filename='js/workaroundsList.js') }}"></script>
    <script src="{{ url_for('static', filename='js/nodeContextMenu.js') }}"></script>
    <script src="{{ url_for('static', filename='js/WorkaroundGenerationSettings.js') }}"></script>


    <!-- Load main app last -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script src="{{ url_for('static', filename='js/fewShotEditor.js') }}"></script>

    <!-- Additional scripts -->
    {% block scripts %}{% endblock %}
</body>
</html>